/venv/
venv/*
venv/
./venv
.env

app/main/data/*
**/__pycache__/
*.pyc
surv.log
data/*
scripts/test_forms/*
scripts/test_responses/*
app/firebase_secret.txt
app/firebase_secret.json
poetry.lock
poetry.lock
poetry.lock
.env
.env
app/firebase_secret.txt
.env
